<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/eetest/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>servlet.HelloForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/eetest/HelloForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReadCookies</servlet-name>
        <servlet-class>servlet.ReadCookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookies</servlet-name>
        <url-pattern>/eetest/ReadCookies</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>servlet.LogFilter</filter-class>
        <init-param>
            <param-name>Site</param-name>
            <param-value>google</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/eetest/DisplayHeader</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DisplayHeader</servlet-name>
        <servlet-class>servlet.DisplayHeader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayHeader</servlet-name>
        <url-pattern>/eetest/DisplayHeader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/eetest/ErrorHandler</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/eetest/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/eetest/ErrorHandler</location>
    </error-page>
</web-app>